{% extends "main/main_base.html" %} {# main/main_base.html extends layout.html #}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
{% block title %}{{app_name}}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('main.home_page') }}">Home</a> >
    <a href="{{ url_for('admin.admin_page') }}">Admin Page</a> >
    > {{verb}} Courses
</li>
{% endblock %}


{% block page_content %}
<div class="row">
    <div class="col-sm-7 col-md-6 col-lg-5 col-centered">
        <h1>{{verb}} Courses</h1>

        <form action="" method="POST" class="form" role="form">
            {# for csrf see https://flask-wtf.readthedocs.io/en/stable/csrf.html #}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group">
                <label for="courses_name" class="control-label">Courses name:</label>
                <input class="form-control" id="courses_name" name="courses_name" required value="{{request.form.courses_name}}" type="text">
            </div>
            <div class="form-group">
                <label for="roles" class="control-label">Student:</label>
                <select multiple class="form-control" name="roles" >
                    {% for role in roles %}
                        {% if role.id|string in user.role_ids %}
                            <option selected value="{{ role.id }}">{{ role.name }}</option>
                        {% else %}
                            <option value="{{ role.id }}">{{ role.name }} </option>
                        {% endif %}
                    {% endfor %}
            
                </select>
            </div>
            <input class="btn btn-default btn-primary" type="submit">
        </form>

    </div>
</div>


{% endblock %}